In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.read_csv('nba.csv')
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

# Filling the missing values

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [ ]:
df['Weight'].fillna(df['Weight'].mode()[0], inplace = True)
df['Height'].fillna(df['Height'].mode()[0], inplace = True)
df['Age'].fillna(df['Age'].mode()[0], inplace = True)
df['Team'].fillna(df['Team'].mode()[0], inplace = True)
df['Position'].fillna(df['Position'].mode()[0], inplace = True)
df['Number'].fillna(df['Number'].mode()[0], inplace = True)
df['College'].fillna(df['College'].mode()[0], inplace = True)
df['Salary'].fillna(df['Salary'].mode()[0], inplace = True)
df['Name'].fillna(df['Name'].mode()[0], inplace = True)
df['Weight'].isnull().sum()

NameError: name 'df' is not defined

In [ ]:
df.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

# Descriptive Statistics of each column

In [ ]:
df['Name'].describe()

count              458
unique             457
top       Aaron Brooks
freq                 2
Name: Name, dtype: object

In [ ]:
df['Team'].describe()

count                      458
unique                      30
top       New Orleans Pelicans
freq                        20
Name: Team, dtype: object

In [ ]:
df['Number'].describe()

count    458.000000
mean      17.650655
std       15.959612
min        0.000000
25%        5.000000
50%       13.000000
75%       25.000000
max       99.000000
Name: Number, dtype: float64

In [ ]:
df['Position'].describe()

count     458
unique      5
top        SG
freq      103
Name: Position, dtype: object

In [ ]:
df['Age'].describe()

count    458.000000
mean      26.932314
std        4.401338
min       19.000000
25%       24.000000
50%       26.000000
75%       30.000000
max       40.000000
Name: Age, dtype: float64

In [ ]:
df['Height'].describe()

count     458
unique     18
top       6-9
freq       60
Name: Height, dtype: object

In [ ]:
df['Weight'].describe()

count    458.000000
mean     221.519651
std       26.339574
min      161.000000
25%      200.000000
50%      220.000000
75%      240.000000
max      307.000000
Name: Weight, dtype: float64

In [ ]:
df['College'].describe()

count          458
unique         118
top       Kentucky
freq           107
Name: College, dtype: object

In [ ]:
df['Salary'].describe()

count    4.580000e+02
mean     4.740621e+06
std      5.197586e+06
min      3.088800e+04
25%      1.000000e+06
50%      2.647980e+06
75%      6.323553e+06
max      2.500000e+07
Name: Salary, dtype: float64

# Group by Categorical Variables

In [ ]:
print(df.groupby(['Position']).describe().reset_index())

  Position Number                                                        Age  \
            count       mean        std  min    25%   50%   75%   max  count
0        C   78.0  21.807692  16.662469  0.0  11.25  17.0  28.0  92.0   78.0
1       PF  100.0  23.570000  20.107918  0.0   6.00  21.5  35.0  90.0  100.0
2       PG   92.0  10.967391  11.982085  0.0   2.00   8.0  14.0  55.0   92.0
3       SF   85.0  17.611765  14.904533  0.0   7.00  15.0  24.0  99.0   85.0
4       SG  103.0  14.757282  11.481841  0.0   5.00  11.0  23.0  55.0  103.0

   ... Weight        Salary                                                   \
   ...    75%    max  count          mean           std       min        25%
0  ...  265.0  307.0   78.0  5.967052e+06  5.787989e+06   83397.0  1328880.0
1  ...  250.0  275.0  100.0  4.454027e+06  4.767231e+06  111444.0  1005269.5
2  ...  200.0  220.0   92.0  4.898240e+06  5.011620e+06   55722.0  1112213.5
3  ...  230.0  260.0   85.0  4.811391e+06  5.991027e+06   30888.0   981348.0
4  ...  218.0  234.0  103.0  3.890926e+06  4.442626e+06   55722.0   947276.0


         50%         75%         max
0  3811060.0  9620558.25  22359364.0
1  2877470.0  5543725.00  22192730.0
2  2927470.0  7000000.00  21468695.0
3  2000000.0  5500000.00  25000000.0
4  1733040.0  5675000.00  20000000.0

[5 rows x 33 columns]

In [ ]:
print(df.groupby(['Age']).describe().reset_index())

     Age Number                                                       Weight  \
          count       mean        std   min    25%   50%    75%   max  count
0   19.0    2.0  10.500000  13.435029   1.0   5.75  10.5  15.25  20.0    2.0
1   20.0   19.0  17.210526  14.199292   0.0   4.50  13.0  32.50  41.0   19.0
2   21.0   19.0  18.315789  12.614157   1.0  10.00  17.0  23.00  55.0   19.0
3   22.0   26.0  14.423077  12.551249   0.0   4.00  12.0  21.00  40.0   26.0
4   23.0   41.0  19.682927  19.517222   0.0   6.00  13.0  25.00  92.0   41.0
5   24.0   48.0  16.229167  14.821261   2.0   5.00  11.5  23.50  77.0   48.0
6   25.0   45.0  19.866667  18.501351   0.0   5.00  15.0  31.00  99.0   45.0
7   26.0   36.0  17.277778  13.081309   1.0   8.00  14.5  23.25  55.0   36.0
8   27.0   41.0  18.682927  16.879631   0.0   5.00  12.0  30.00  55.0   41.0
9   28.0   31.0  19.741935  17.826886   0.0   8.50  14.0  31.50  88.0   31.0
10  29.0   28.0  16.892857  18.736653   0.0   4.75  12.0  21.00  90.0   28.0
11  30.0   31.0  12.032258  11.827888   1.0   3.50   9.0  14.50  50.0   31.0
12  31.0   22.0  12.681818  13.047117   0.0   3.25   8.5  16.25  43.0   22.0
13  32.0   13.0  12.846154   9.906615   1.0   6.00   9.0  18.00  32.0   13.0
14  33.0   14.0  23.571429  17.212314   4.0   9.00  18.5  40.00  52.0   14.0
15  34.0   10.0  23.500000  29.014364   1.0   3.00   9.0  34.50  90.0   10.0
16  35.0    9.0  19.666667  11.958261   1.0  12.00  24.0  30.00  34.0    9.0
17  36.0   10.0  19.700000  13.047350   3.0  11.25  18.5  28.75  40.0   10.0
18  37.0    4.0  28.500000  16.542874   7.0  19.75  32.5  41.25  42.0    4.0
19  38.0    4.0  24.500000   9.746794  13.0  18.25  25.5  31.75  34.0    4.0
20  39.0    2.0  12.000000   4.242641   9.0  10.50  12.0  13.50  15.0    2.0
21  40.0    3.0  22.000000   1.732051  21.0  21.00  21.0  22.50  24.0    3.0

    ...                Salary                                         \
    ...     75%    max  count          mean           std        min
0   ...  205.00  206.0    2.0  1.930440e+06  2.791658e+05  1733040.0
1   ...  240.00  275.0   19.0  2.725791e+06  1.510913e+06   525093.0
2   ...  240.50  280.0   19.0  2.067380e+06  1.412350e+06   525093.0
3   ...  240.00  279.0   26.0  2.357963e+06  1.517378e+06   525093.0
4   ...  230.00  275.0   41.0  1.981699e+06  2.669765e+06    30888.0
5   ...  238.50  265.0   48.0  3.607924e+06  4.699123e+06   525093.0
6   ...  235.00  270.0   45.0  3.864565e+06  4.528260e+06    55722.0
7   ...  245.75  278.0   36.0  6.866566e+06  6.100471e+06   134215.0
8   ...  240.00  290.0   41.0  6.536998e+06  6.805127e+06    55722.0
9   ...  240.00  275.0   31.0  4.975901e+06  4.309430e+06   206192.0
10  ...  250.00  275.0   28.0  6.035716e+06  4.882582e+06   111444.0
11  ...  225.00  307.0   31.0  6.864614e+06  5.429977e+06   947276.0
12  ...  250.00  289.0   22.0  8.511397e+06  7.170163e+06   947276.0
13  ...  240.00  275.0   13.0  7.716958e+06  7.451336e+06   295327.0
14  ...  245.00  273.0   14.0  3.930739e+06  4.354293e+06   200600.0
15  ...  250.00  265.0   10.0  7.606030e+06  5.653035e+06   261894.0
16  ...  250.00  255.0    9.0  3.182355e+06  2.365437e+06   947276.0
17  ...  235.00  260.0   10.0  2.238120e+06  1.550061e+06   947276.0
18  ...  247.25  254.0    4.0  9.820152e+06  1.056094e+07   947276.0
19  ...  238.75  250.0    4.0  1.840041e+06  1.496661e+06   222888.0
20  ...  211.25  220.0    2.0  2.517872e+06  2.220522e+06   947726.0
21  ...  245.00  250.0    3.0  4.666917e+06  4.155421e+06   250750.0


           25%        50%          75%         max
0   1831740.00  1930440.0   2029140.00   2127840.0
1   1636920.00  2481720.0   3954720.00   5703600.0
2   1235480.00  1584480.0   2084940.00   5758680.0
3   1169190.00  1793880.0   3366732.75   6331404.0
4    650000.00  1155600.0   2658240.00  16000000.0
5    935457.00  1383780.0   3275259.50  16407501.0
6    947276.00  1252440.0   5543725.00  15851950.0
7   1336790.50  3325000.0  12562500.00  17120106.0
8   1015421.00  3425510.0  11235955.00  20158622.0
9   1568421.00  4000000.0   6190017.00  19689000.0
10  1277375.00  5271862.5   9322612.25  16407500.0
11  2512702.50  5675000.0   9000000.00  22359364.0
12  3000000.00  5439487.0  13475000.00  22970500.0
13  3135000.00  5200000.0  11217391.00  22875000.0
14  1119326.00  2300000.0   4040084.50  13000000.0
15  4512750.00  6280675.5   9103916.25  20000000.0
16   947276.00  2854940.0   4500000.00   7448760.0
17   947276.00  1809826.0   2888735.00   5675000.0
18  3986819.00  6666667.0  12500000.50  25000000.0
19   766179.00  1880638.0   2954500.00   3376000.0
20  1732799.25  2517872.5   3302945.75   4088019.0
21  2750375.00  5250000.0   6875000.00   8500000.0

[22 rows x 25 columns]

# Done